body{
background-color: black;
color: white;
}
.nav-card ul{
display: flex;
gap:40px;
}
.container{
position: relative;
display: flex;

}
.nav-list {
list-style-type: none;

}
.nav-list a{
text-decoration: none;
color:white;
}
.button{
padding:5px 5px 5px 5px;
}
.hero-container{
background-image: url(img2.jpg);
height: 80vh;
width:100%;
background-repeat: no-repeat;
background-size:cover;
background-position: center;
display:flex;
justify-content: center;
align-items: center;
text-align: center;
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero-button:hover{
background-color:rgb(66, 99, 156);    
transition: 0.8s;
color: white;
}
.services-section{
position: relative;
text-align: center;

}
.services-container{
display: flex;
align-items: center;
justify-content: center;
gap: 50px;
}
.about-button{
padding:5px 5px 5px 5px;


}

