body{
background-color: black;

}


.nav-card ul{
display: flex;
gap:40px;


}
.container{
position: relative;
display: flex;

}
.nav-list {
list-style-type: none;

}
.nav-list a{
text-decoration: none;
color:white;
}
.button{
padding:5px 5px 5px 5px;
}
.hero-container{
background-image: url(img1.jpg);
height: 80vh;
width:100%;
background-repeat: no-repeat;
background-size:cover;
background-position: center;
}





